<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="ToDo.css">
  </head>
  <body>
    
      
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <a class="navbar-brand" href="#">Product Management App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
          </ul>
          <form class="form-inline my-2 my-lg-0">
            
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">LogOut</button>
          </form>
        </div>
      </nav>
      <section class="vh-100" style="background-color: #eee;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
              <div class="card rounded-3">
                <div class="card-body p-4">
      
                  <h4 class="text-center my-3 pb-3">Product Management</h4>
      
                  <form id="ToDo" class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2">
                    <div class="col-12">
                      <div class="form-outline">
                        <input type="number" id="number" class="form-control" />
                        <label class="form-label" for="form1">Enter product number here</label>
                      </div>
                      <div class="form-outline">
                        <input type="text" id="text" class="form-control" />
                        <label class="form-label" for="form1">Enter a Product Name here</label>
                      </div>
                      <div class="form-outline">
                        <input type="text" id="text2" class="form-control" />
                        <label class="form-label" for="form1">Enter a Product detail here</label>
                      </div>
                    </div>
      
                    <div class="col-12">
                      <button type="submit" class="btn btn-primary">Add</button>
                    </div>
      
                    
                  </form>
      
                  <table class="table mb-4">
                    <thead>
                      <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Product Discription</th>
                        <th scope="col">Product ID</th>
                        
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% records.forEach(function(row){%>
                      <tr>
                        <th scope="row"><%= row.number%></th>
                        <td><%= row.text %></td>
                        <td><%= row.text2 %></td>
                        <td><%= row._id %></td>
                        
                        <td>
                          <!-- <button  class="btn btn-danger" href="/edit/<%= row._id%>"><i class="fa fa-trash"></i>Edit</button> -->
                          <a  class="btn btn-danger ms-1" href="/delete/<%= row._id%>"><i class="fa fa-trash"></i>Delete</a>
                          <a  class="btn btn-success ms-1" href="/edit/<%= row._id%>"><i class="fa fa-trash"></i>Edit</a>
                        </td>
                      </tr>
                      <%})%>
                    
                      
                        
                      
                    </tbody>
                  </table>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <script>
		const form = document.getElementById('ToDo')
		form.addEventListener('submit', ToDOUser)

		async function ToDOUser(event) {
			event.preventDefault()
			const text = document.getElementById('text').value
      const text2 = document.getElementById('text2').value
      const number = document.getElementById('number').value
            console.log(text);
            console.log(text2);
			

			const result = await fetch('/api/ToDo', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
					text,
          text2,
          number
					
				})
			}).then((res) => res.json())
            if (result.status === 'ok') {
				
				//alert('Success')
        window.location.replace("/ToDo");
			} else {
				alert(result.error)
			}
		}
	</script>
      
      

      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS
   
  </body>
</html>